/* Navbar start */
.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(61, 57, 57);
    top: 0;
    position: sticky;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    z-index: 100;
}

.navbar h1 {
    margin-left: 1.4rem;
    color: white;
    font-size: 1.5rem;
}

/* Navbar end */

/* CSS for Tablet Start*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar h1{
        font-size: 1.2rem;
        margin-left: 2.4rem;
    }
}
/* CSS for Tablet End */

/* CSS for Mobile Start*/
@media screen and (max-width: 767px) {
    .navbar h1{
        font-size: 0.6rem;
        margin-left: 0.4rem;
    }
}
/* CSS for Mobile End */